.square-border {
    width: 100px;
    height: 100px;
    border: 5px solid black;
}


#sketchpad {
    margin: 10px 400px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 0;
    column-gap: 0;
}
